html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#map {
  position: absolute;
  bottom: 20px;
  right: 75px;
  width: 400px;
  height: 300px;
  z-index: 13;
}

#griddedmap {
  position: absolute;
  bottom: 300px;
  right: 300px;
  width: 100px;
  height: 100px;
  z-index: 25;
}

:root {
  --bgCol: rgb(222, 255, 210);
}

.muiltPopup .leaflet-popup-content-wrapper {
  background: var(--bgCol);
}

.muiltPopup .leaflet-popup-tip {
  background: var(--bgCol);
}

button,
input,
select,
option {
  background: rgb(198, 255, 175);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}